{% extends "/generic_classifier/base/main.html" %} {% block customized_css %}
<link rel="stylesheet" href="{{ STATIC_BASE }}/static/dist/css/generic_classifier/dashboard/main.css?v={{ ASSET_VERSION }}" />
{% endblock %} {% block content %}
<div class="content-wrapper pt-1" id="default_page">
    <div class="w-100 title_column">
        <label class="currently">Dashboard</label>
    </div>
    <div class="contain">
        <div class="row mb-4">
            <div class="col-md-4">
                <div id="Total-Records-Across-Modalities" class="chart"></div>
            </div>
            <div class="col-md-4">
                <div id="Total-Subjects-Across-Modalities" class="chart"></div>
            </div>
            <div class="col-md-4">
                <div id="Average-Subjects-Across-Modalities" class="chart"></div>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-md-7">
                <div id="age-distribution" class="chart"></div>
            </div>
        
            <div class="col-md-5">
                <div id="gender-distribution" class="chart"></div>
            </div>
        </div>
        
        <div class="row mb-4">
            <div class="col-md-4">
                <div id="icd-distribution" class="chart"></div>
            </div>
        
            <div class="col-md-4">
                <div id="lab-tests-distribution" class="chart"></div>
            </div>
        
            <div class="col-md-4">
                <div id="medication-distribution" class="chart"></div>
            </div>
        </div>
        
        <div class="row mb-4">
            <div class="col-md-12">
                <div id="arrhythmia-distribution" class="chart"></div>
            </div>
        </div>
        
        <div class="row mb-4">
            <div class="col-md-6">
                <div id="heart-rate-distribution" class="chart"></div>
            </div>
            <div class="col-md-6">
                <div id="ecg-intervals" class="chart"></div>
            </div>
        </div>
    </div>
    
</div>

{% endblock %} {% block customized_js %}
<script src="{{ STATIC_BASE }}/static/dist/js/generic_classifier/dashboard/main.js?v={{ ASSET_VERSION }}"></script>
<script>
    $(function () {
        ai.DashboardGC.setCallback();
    });
</script>
{% endblock %}
