{% extends "/generic_classifier/base/main.html" %} {% block customized_css %}
<link rel="stylesheet" href="{{ STATIC_BASE }}/static/dist/css/generic_classifier/policy/main.css?v={{ ASSET_VERSION }}" />
{% endblock %} {% block content %}
<div class="content-wrapper pt-1" id="default_page">
    <div class="w-95 title_column">
        <label class="currently">Policy</label>
    </div>
    <div class="policy_content">
        <div class="menu">
            <a href="#project_intro">專案介紹</a>
            <a href="#project_background">專案背景</a>
            <a href="#application_method">申請辦法</a>
        </div>
        <div class="text">
            <p id="project_intro"><b>專案介紹</b></p>
            <p>電子病歷就是整個數位醫療革新的核心，不只包含醫療，還包含行政，現在也包含健康管理、預防醫學，都在數位醫療的範疇內，所以電子病歷是整個數位醫療(Digital Health)最核心的東西，作業系統好，才有可能發揮數位醫療的能力。因此，目前要發展的次世代電子病歷，需要是一個互通性很高的電子病歷系統，也就是說，需達成互通性(interoperability)才符合次世代。</p>
            <p>為達成資料的互通與可交換性，目前國際採用資料交換格式FHIR是主流，臺灣衛福部已採用並建立TW Core IG推動。在FHIR整體解決方案之下，電子病歷可達成互通的目標，且在FHIR環境下可開發創造新的應用。2016年美國訂立二十一世紀醫療法案，美國政府單位希望以該法精神推動智慧醫療以在各個領域都能維持領先地位；其中一項就是要求資料互通性。主要管轄單位ONC，是美國衛福部轄下單位，即為美國衛福部資訊處。2023年1月1日規定所有美國醫院系統應遵循FHIR標準，臺灣現在開始推動也是跟美國同步並遵循國際潮流。</p>
            <p> 臨床研究資料庫Real world data research database，是次世代電子病歷系統五大願景之一，完成次世代電子病歷之後，跨院整合資料即可形成一個威力強大的真實世界資料庫。包含出院病摘、門診病歷、檢驗檢查、醫療影像及報告等醫療數據。基於臺灣核心實作指引（Taiwan Core Implementation Guide，簡稱TW core IG）實作，期望利用資通訊技術，在民眾的同意前提下與醫療院所進行資料的收集與交換。對病人的全方面服務，提升醫療品質、促進病人安全、發揮醫療資源效益，並持續精進公共衛生，讓電子病歷推動的成果，能成為健康社會的重要基石。</p>
            
            <p id="project_background"><b>專案背景</b></p> 
            <p>因應2022年BTC會議結論，加速醫療資訊系統革新，建置接軌國際標準之次世代醫療資訊系統(HIS)；制訂政策，提供獎勵與誘因，鼓勵醫療院所數位轉型，以利智慧醫療之推動；由政府指定PPP/公益性平臺統籌，協助各醫療院所雲端病歷系統之數位架構與資訊交換標準化。</p>
            <P>為達成前述目標，衛福部申請科技發展工作113至116年4年期計畫，以辦理相關工作，並成立專案辦公室，以推動接軌國際標準之次世代數位醫療資訊系統平臺，透過盤點並維運醫療資訊相關標準、建構並維運次世代數位醫療平臺、規劃推動部立醫院次世代數位醫療平臺、加速臺灣各級醫院平臺落地等四大主軸之推動工作，統整各級醫院使用國際資料交換標準，以利醫療院所電子病歷快速交換與串接，透過提升相互操作性與整合分析效能，有助於大數據決策支援之智慧化醫院應用，提升國內醫資產業國際競爭力，也可達成提升人民健康福祉之目標。</P>
            <p>臨床研究資料庫(RWD)之規範由衛生福利部2024年2月招標之「次世代數位醫療平臺專案辦公室」經費支應下建置。</p>
            <p>因應2022年BTC會議結論，加速醫療資訊系統革新，建置接軌國際標準之次世代醫療資訊系統(HIS)；制訂政策，提供獎勵與誘因，鼓勵醫療院所數位轉型，以利智慧醫療之推動；由政府指定PPP/公益性平臺統籌，協助各醫療院所雲端病歷系統之數位架構與資訊交換標準化。</p>
            <P>為達成前述目標，衛福部申請科技發展工作113至116年4年期計畫，以辦理相關工作，並成立專案辦公室，以推動接軌國際標準之次世代數位醫療資訊系統平臺，透過盤點並維運醫療資訊相關標準、建構並維運次世代數位醫療平臺、規劃推動部立醫院次世代數位醫療平臺、加速臺灣各級醫院平臺落地等四大主軸之推動工作，統整各級醫院使用國際資料交換標準，以利醫療院所電子病歷快速交換與串接，透過提升相互操作性與整合分析效能，有助於大數據決策支援之智慧化醫院應用，提升國內醫資產業國際競爭力，也可達成提升人民健康福祉之目標。</P>
            <p>臨床研究資料庫(RWD)之規範由衛生福利部2024年2月招標之「次世代數位醫療平臺專案辦公室」經費支應下建置。</p>
            <p>因應2022年BTC會議結論，加速醫療資訊系統革新，建置接軌國際標準之次世代醫療資訊系統(HIS)；制訂政策，提供獎勵與誘因，鼓勵醫療院所數位轉型，以利智慧醫療之推動；由政府指定PPP/公益性平臺統籌，協助各醫療院所雲端病歷系統之數位架構與資訊交換標準化。</p>
            <P>為達成前述目標，衛福部申請科技發展工作113至116年4年期計畫，以辦理相關工作，並成立專案辦公室，以推動接軌國際標準之次世代數位醫療資訊系統平臺，透過盤點並維運醫療資訊相關標準、建構並維運次世代數位醫療平臺、規劃推動部立醫院次世代數位醫療平臺、加速臺灣各級醫院平臺落地等四大主軸之推動工作，統整各級醫院使用國際資料交換標準，以利醫療院所電子病歷快速交換與串接，透過提升相互操作性與整合分析效能，有助於大數據決策支援之智慧化醫院應用，提升國內醫資產業國際競爭力，也可達成提升人民健康福祉之目標。</P>
            <p>臨床研究資料庫(RWD)之規範由衛生福利部2024年2月招標之「次世代數位醫療平臺專案辦公室」經費支應下建置。</p>
            
            <p id="application_method"><b>申請辦法</b></p>
            <p>本資料庫提供醫療研究使用，惟研究與資料合理性，有賴專業人士審核把關。故申請本資料庫使用時，需先通過倫理審查，並將通過審查之研究計畫書，上傳於本系統。系統管理員會進行審核，檢核申請之資料內容、範疇、時間區間是否與研究計畫相符。審核通過後，即可使用本資料庫之資源。</p>
            <p>因應2022年BTC會議結論，加速醫療資訊系統革新，建置接軌國際標準之次世代醫療資訊系統(HIS)；制訂政策，提供獎勵與誘因，鼓勵醫療院所數位轉型，以利智慧醫療之推動；由政府指定PPP/公益性平臺統籌，協助各醫療院所雲端病歷系統之數位架構與資訊交換標準化。</p>
            <P>為達成前述目標，衛福部申請科技發展工作113至116年4年期計畫，以辦理相關工作，並成立專案辦公室，以推動接軌國際標準之次世代數位醫療資訊系統平臺，透過盤點並維運醫療資訊相關標準、建構並維運次世代數位醫療平臺、規劃推動部立醫院次世代數位醫療平臺、加速臺灣各級醫院平臺落地等四大主軸之推動工作，統整各級醫院使用國際資料交換標準，以利醫療院所電子病歷快速交換與串接，透過提升相互操作性與整合分析效能，有助於大數據決策支援之智慧化醫院應用，提升國內醫資產業國際競爭力，也可達成提升人民健康福祉之目標。</P>
            <p>臨床研究資料庫(RWD)之規範由衛生福利部2024年2月招標之「次世代數位醫療平臺專案辦公室」經費支應下建置。</p>
            <p>因應2022年BTC會議結論，加速醫療資訊系統革新，建置接軌國際標準之次世代醫療資訊系統(HIS)；制訂政策，提供獎勵與誘因，鼓勵醫療院所數位轉型，以利智慧醫療之推動；由政府指定PPP/公益性平臺統籌，協助各醫療院所雲端病歷系統之數位架構與資訊交換標準化。</p>
            <P>為達成前述目標，衛福部申請科技發展工作113至116年4年期計畫，以辦理相關工作，並成立專案辦公室，以推動接軌國際標準之次世代數位醫療資訊系統平臺，透過盤點並維運醫療資訊相關標準、建構並維運次世代數位醫療平臺、規劃推動部立醫院次世代數位醫療平臺、加速臺灣各級醫院平臺落地等四大主軸之推動工作，統整各級醫院使用國際資料交換標準，以利醫療院所電子病歷快速交換與串接，透過提升相互操作性與整合分析效能，有助於大數據決策支援之智慧化醫院應用，提升國內醫資產業國際競爭力，也可達成提升人民健康福祉之目標。</P>
            <p>臨床研究資料庫(RWD)之規範由衛生福利部2024年2月招標之「次世代數位醫療平臺專案辦公室」經費支應下建置。</p>
        </div>
    </div>
</div>

{% endblock %} {% block customized_js %}
<script src="{{ STATIC_BASE }}/static/dist/js/generic_classifier/policy/main.js?v={{ ASSET_VERSION }}"></script>
<script>
    $(function () {
        ai.OverviewGC.setCallback();
    });
</script>
{% endblock %}
