{% extends "/generic_classifier/base/main.html" %} {% block customized_css %}
<link rel="stylesheet" href="{{ STATIC_BASE }}/static/dist/css/generic_classifier/proposal/main.css?v={{ ASSET_VERSION }}" />
{% endblock %} {% block content %}
<div class="content">
    <div class="content-wrapper pt-1" id="default_page">
        <div class="w-100 title_column">
            <label class="currently">Proposal</label>
        </div>
        
    </div>
    <div>
        <nav class=" right-nav bg-light border-start pt-3" style="width: 87px; height: 100vh;">
            <ul class="nav flex-column">
                <li class="nav-item"><a class="nav-link" href="#">設定</a></li>
                <li class="nav-item"><a class="nav-link" href="#">統計</a></li>
                <li class="nav-item"><a class="nav-link" href="#">其他操作</a></li>
            </ul>
        </nav>
    </div>

</div>

{% endblock %} {% block customized_js %}
<script src="{{ STATIC_BASE }}/static/dist/js/generic_classifier/proposal/main.js?v={{ ASSET_VERSION }}"></script>
<script>
    $(function () {
        ai.ProposalGC.setCallback();
    });
</script>
{% endblock %}
