{% extends "/generic_classifier/base/main.html" %} {% block customized_css %}
<link rel="stylesheet" href="{{ STATIC_BASE }}/static/dist/css/generic_classifier/proposal/main.css?v={{ ASSET_VERSION }}" />
{% endblock %} {% block content %}
<div class="content-wrapper pt-1" id="default_page">
    <div class="w-100 h-100 proposal_container">
        <div class="w-80 proposal_con">
            <div class="w-100 title_column">
                <label class="currently">Proposal</label>
            </div>
            <div class="proposal_content">
                <button class="proposal_addbtn"> + New Proposal </button>
                <br>
                <h5>Proposal List</h5>
            </div>
        </div>
        
        <div class="w-20 file_information">
            <p>View proposal file information</p>
        </div>
    </div>
    
</div>

{% endblock %} {% block customized_js %}
<script src="{{ STATIC_BASE }}/static/dist/js/generic_classifier/proposal/main.js?v={{ ASSET_VERSION }}"></script>
<script>
    $(function () {
        ai.ProposalGC.setCallback();
    });
</script>
{% endblock %}
